html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  
}
#full-screen{
    background-color: rgb(48, 58, 82);
      width: 100%;
  height: 100vh;
}
#main-wrapper{
    padding : 50px;
    display : flex;
    flex-direction: column;
    justify-content: center;
}
#top{
    display : flex;
    flex-direction:  row;
    flex : 1;
    gap : 50px;
    justify-content: center;
    position : relative;
    align-items:  center;
    margin : 20px;
    font-size : 38px;
    bottom : 20px;
    color : white;
}
#top img{
    width : 250px;
    height : auto;
}
#description{
    display : flex;
    justify-content: center;
    color : white;
    margin : 20px;
    padding : 20px;
    font-size : 28px;
    letter-spacing : 1px;

}
#start-btn {
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #5b82f7;  
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.4s ease;

  width : 75%;
  margin : 40px auto;
}


#start-btn:hover {
  background-color: #7594ff;
  transform: scale(1.05);
}


#start-btn:active {
  transform: scale(0.95);
}

.fade-in {
  animation: fadeIn 0.6s forwards;
}


.fade-out {
  animation: fadeOut 0.6s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}